configobj==5.0.8
dnspython==2.4.1
dpath==2.1.6
kafka-python==2.0.2
parse-it==2023.7.31.10.21
ply==3.11
pyhcl==0.4.4
pymongo==4.4.1
python-dotenv==1.0.0
PyYAML==6.0.1
six==1.16.0
toml==0.10.2
xmltodict==0.13.0
