configobj==5.0.8
dnspython==2.6.1
dpath==2.1.6
kafka-python==2.0.2
parse-it==2024.5.26.13.36
ply==3.11
pyhcl==0.4.5
pymongo==4.7.2
python-dotenv==1.0.1
PyYAML==6.0.1
six==1.16.0
toml==0.10.2
xmltodict==0.13.0
