configobj==5.0.9
dnspython==2.7.0
dpath==2.2.0
kafka-python==2.0.5
parse-it==2024.11.20.9.55
ply==3.11
pyhcl==0.4.5
pymongo==4.11.1
python-dotenv==1.0.1
PyYAML==6.0.2
six==1.17.0
toml==0.10.2
xmltodict==0.14.2
